body{
    background: -webkit-linear-gradient(left, #9b8c9d, #40abb0);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn {
    display: inline-block;
    background-color: #F0F0F0;
    color: #6c757d;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 2%;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70%;
}

.profile-edit-btn:hover {
    background-color: #40abb0;
    color: white;
    text-decoration: none;
}


.back-btn {
    display: inline-block;
    background-color: darkturquoise;
    color: #6c757d;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 1%;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-top: 5%;
}

.back-btn:hover {
    background-color: #40abb0;
    color: white;
    text-decoration: none;
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 16px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*-----------------------------------------------------------------------------------------------*/
/*               my code            */
input[type="text"], input[type="email"],input[type="password"],input[type="se"], textarea
{
    display: block;
    /*width: 100%;*/
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: transparent;
    /*border: none;*/
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

/* The container for the radio buttons */
.radio-container {
    display: inline-block;
    margin-right: 10px;
}

/* The radio buttons */
.radio-container input[type="radio"] {
    display: none; /* hide the default radio buttons */
}

/* The label for the radio buttons */
.radio-container label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #eee;
    color: #333;
}

/* The label for the selected radio button */
.radio-container input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}

/* ------------------- */
.tabs-sec .nav-tabs{
    margin-bottom:2%;
}
.tabs-sec .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.tabs-sec .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* /////////////////////  pagination ////////////////////////    */


/* ////////////////////////////  patient //////////////////*/

.patient-class label{
    font-weight: 600;
}

.patient-class span{
    font-weight: 300;
    margin-left: 5%;
}

.patient-class table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.patient-class th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
.patient-class th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.patient-class p{
    font-size: 20px;
    font-weight: bold;
}

.patient-class img{
    height: 200px;
    width: 200px;
}

.patient-class section {
    /*height: 100vh;*/
    margin-bottom: 5%;
    display: none;
}
.patient-class section:first-of-type {
    display: block;
}

.patient-class nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.patient-class nav li {
    margin: 0 10px;
}

.patient-class nav a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.patient-class nav a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
